@media only screen and (max-width: 1530px) {
  .container {
    width: 66.66%;
  }
  .best-coaching__countdown--time li {
    width: 6.5rem;
    height: 6.5rem;
  }
  .btn-prev {
    top: 18%;
  }
  .btn-next {
    bottom: 18%;
  }
  .subscribe-testimonials .row {
    padding-left: 18rem;
    padding-right: 18rem;
  }
  .subscribe__content {
    padding-right: 5rem;
  }
  .video > img {
    width: 24%;
  }
  .best-coaching__text h2 {
    font-size: 3.4rem;
  }
  .activities .row {
    padding-left: 17rem;
    padding-right: 17rem;
  }
  .slider h1 {
    font-size: 4.4rem;
  }
  .top-bar .row:last-of-type {
    padding-left: 17rem;
    padding-right: 17rem;
  }
  .top-bar .row {
    padding-left: 17rem;
    padding-right: 17rem;
  }
  .top-bar .row:last-of-type .col:first-of-type {
    margin-right: 6rem;
  }
  .top-bar__menu--list li:not(:last-of-type) {
    margin-right: 2.5rem;
  }
}
@media only screen and (max-width: 1300px) {
  .container {
    width: 72%;
  }
  .app-footer .container:first-of-type {
    top: 13%;
  }
  .app-footer .container:nth-of-type(2) {
    bottom: 13%;
  }
  .subscribe-testimonials .row {
    padding-left: 15rem;
    padding-right: 15rem;
  }
  .subscribe__content {
    padding-right: 4rem;
  }
  .activities .row {
    padding-left: 14rem;
    padding-right: 14rem;
  }
  .top-bar .row {
    padding-left: 14rem;
    padding-right: 14rem;
  }
  .top-bar .row:last-of-type {
    padding-left: 14rem;
    padding-right: 14rem;
  }
  .top-bar .row:last-of-type .col:first-of-type {
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 1199.98px) {
  .container {
    width: 85%;
  }
  .app-footer .container-fluid p {
    margin-top: 4.5rem;
  }
  .app-footer .container:nth-of-type(2) img {
    width: 9rem;
  }
  .app-footer .container:first-of-type {
    top: 7%;
  }
  .app-footer__about h4,
  .app-footer__subscribe h4,
  .app-footer__touch h4 {
    font-size: 1.6rem;
  }
  .app-footer__about p,
  .app-footer__subscribe p,
  .app-footer__touch p {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    line-height: 1.7rem;
  }
  .app-footer__social--list {
    margin-top: 1.5rem;
  }
  .app-footer__subscribe form {
    margin-top: 1.5rem;
  }
  .cha {
    margin-top: 1rem;
  }
  .cha:not(:first-of-type) {
    margin-top: 0px;
  }
  .recent-news__heading h2,
  .popular-courses__heading h2 {
    font-size: 3.6rem;
  }
  .recent-news__heading p,
  .popular-courses__heading p {
    font-size: 1.3rem;
  }
  .fun-facts__content h4 {
    font-size: 3.4rem;
  }
  .best-opportunity__introduction {
    padding-right: 4rem;
  }
  .best-opportunity__introduction h2 {
    font-size: 3rem;
  }
  .best-opportunity__introduction p {
    margin-top: 1rem;
    font-size: 1.3rem;
  }
  .best-opportunity__list li {
    font-size: 1.3rem;
  }
  .best-opportunity__list li {
    margin-bottom: 1.5rem;
  }
  .recent-news .row:last-of-type {
    margin-top: 5rem;
    margin-bottom: 6.5rem;
  }
  .popular-courses__introduction h4 {
    font-size: 1.5rem;
  }
  .popular-courses__number p {
    font-size: 1.3rem;
  }
  .recent-news__introduction h4 {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
  .recent-news__introduction p:first-of-type {
    font-size: 1.3rem;
  }
  .recent-news__introduction a {
    font-size: 1.1rem;
  }
  .video h3 {
    font-size: 3.3rem;
  }
  .subscribe-testimonials .row {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .subscribe__content {
    padding-right: 3rem;
  }
  .subscribe__content h3 {
    font-size: 2.2rem;
  }
  .subscribe__content p {
    font-size: 1.4rem;
  }
  .subscribe__content input {
    margin-top: 2rem;
    height: 5rem;
  }
  .btn-subscribe {
    font-size: 1.3rem;
  }
  .testimonials__content h3 {
    font-size: 2.2rem;
  }
  .testimonials__content > p {
    font-size: 1.4rem;
    width: 30rem;
  }
  .btn-prev {
    top: 11%;
  }
  .btn-next {
    bottom: 11%;
  }
  .testimonials__user h5 {
    font-size: 1.5rem;
  }
  .video {
    margin-top: 5rem;
  }
  .video > img {
    bottom: 50%;
  }
  .subscribe-testimonials .row {
    padding-top: 6rem;
  }
  .recent-courses__introduction h4 {
    font-size: 1.5rem;
  }
  .recent-courses__number p {
    font-size: 1.3rem;
  }
  .recent-courses__heading h2 {
    font-size: 3.6rem;
  }
  .recent-courses__heading p {
    font-size: 1.3rem;
  }
  .best-coaching__text h2 {
    margin-top: 2rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .best-coaching__form {
    width: 80%;
    padding: 3.5rem 1.5rem;
  }
  .btn-sign-up {
    margin-bottom: 2rem;
  }
  .best-coaching__countdown--time li span {
    font-size: 2rem;
  }
  .meet-friends {
    padding-top: 20rem;
  }
  .meet-friends__heading h2 {
    font-size: 3.2rem;
  }
  .meet-friends__text h4 {
    font-size: 1.6rem;
  }
  .meet-friends__text p {
    margin-top: 1rem;
  }
  .meet-friends__img {
    width: 10rem;
    height: 10rem;
  }
  .meet-friends__img img {
    width: 5rem;
    height: 5rem;
  }
  .activities .row {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .top-bar .row:last-of-type {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .top-bar .row {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .activities {
    bottom: -30%;
  }
  .slider h1 {
    font-size: 3.6rem;
    line-height: 4rem;
  }
  .slider .container .row:first-of-type .col:last-of-type {
    margin-top: 2rem;
  }
  .top-bar__menu--list a {
    font-size: 1.2rem;
  }
  .top-bar .row:last-of-type .col:first-of-type a {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 991.98px) {

  .popular-courses__container:hover .popular-courses__img img {
  filter: grayscale(60%);
  height: 24rem;
  width: 100%;
  object-fit: cover;
}



  /* 769px - 992px */
  .container {
    width: 90%;
  }
  /* start footer */
  .app-footer > img {
    height: 35rem;
    object-fit: cover;
  }
  .app-footer .container-fluid {
    height: 25%;
  }
  .app-footer .container:nth-of-type(2) {
    bottom: 17%;
  }
  .app-footer__subscribe input {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }
  .app-footer__subscribe button {
    right: 3%;
  }
  /* end footer */
  .popular-courses .row:last-of-type {
    justify-content: flex-start;
  }
  .popular-courses .row:last-of-type .col {
    width: calc(50% - 2rem);
    margin-bottom: 2rem;
  }
  .fun-facts img {
    height: 12rem;
    width: 100%;
  }
  .fun-facts__content {
    padding-left: 2rem;
  }
  .best-opportunity > img {
    height: 30rem;
    object-fit: cover;
  }
  .best-opportunity__introduction h2 {
    font-size: 2.8rem;
  }
  .recent-news .row:nth-of-type(2) {
    justify-content: flex-start;
  }
  .recent-news .row:nth-of-type(2) .col {
    width: calc(50% - 2rem);
    margin-bottom: 2rem;
  }
  .recent-news .row:last-of-type {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .popular-courses {
    padding-top: 6rem;
    padding-bottom: 8rem;
  }
  .video > img {
    display: none;
  }
  .best-coaching > img {
    height: 20rem;
    object-fit: cover;
  }
  .best-coaching__form {
    top: 10%;
  }
  .recent-courses {
    padding-top: 24rem;
  }
  .best-coaching__text h2 {
    font-size: 2.6rem;
  }
  .best-coaching__countdown--time li {
    width: 5rem;
    height: 5rem;
  }
  .best-coaching__countdown--time li span {
    font-size: 1.6rem;
  }
  .meet-friends > .container > .row:last-of-type {
    flex-direction: column;
    align-items: center;
  }
  .meet-friends > .container > .row:last-of-type > .col {
    width: 100%;
    margin-bottom: 3rem;
  }
  .meet-friends__container > .col {
    justify-content: center;
  }
  .meet-friends
    .row:last-of-type
    > .col:last-of-type
    > .meet-friends__container
    .col {
    justify-content: center;
  }
  .subscribe-testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  .subscribe-testimonials .col {
    width: 60%;
  }
  .subscribe-testimonials .col:first-of-type {
    border-right: none;
  }
  .subscribe-testimonials .col:first-of-type {
    justify-content: center;
    margin-bottom: 2rem;
  }
  .subscribe__content {
    padding-right: 0;
  }
  .subscribe-testimonials .col:last-of-type {
    justify-content: center;
  }
  .btn-prev {
    top: 3%;
  }
  .btn-next {
    bottom: 3%;
  }
  .best-coaching__countdown--time li {
    font-size: 1.1rem;
  }
  .recent-courses .row:nth-of-type(2) .col {
    width: calc(50% - 2rem);
  }
  .testimonials__content > p {
    width: auto;
  }
  .recent-courses .row:nth-of-type(2) {
    margin-bottom: 0;
  }
  .testimonials__slider img:not(:last-of-type) {
    width: 11rem;
    height: 11rem;
  }
  .popular-courses__img img {
    width: 100%;
  }
  .recent-news__img img {
    width: 100%;
  }
  .recent-courses__img img {
    width: 100%;
  }
  .best-coaching > img {
    width: 100%;
  }
  .activities {
    bottom: -24%;
  }
  .slider .container {
    bottom: 33%;
  }
  .slider h1 {
    font-size: 3rem;
  }
  .btn-more,
  .btn-start {
    padding: 1.3rem 3rem;
  }
  .activities__content img {
    width: 5rem;
    height: 5rem;
    margin: 2rem auto 1rem auto;
  }
  .activities__content p {
    font-size: 1.4rem;
    width: auto;
    /* max-width: 16.5rem; */
  }

  .top-bar {
    position: relative;
    background-color: #1c2f4d;
  }
  .top-bar .row:first-of-type {
    margin-top: 0rem;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }
  .top-bar .row:first-of-type .col:first-of-type {
    display: none;
  }

  .top-bar .row:last-of-type .col:last-of-type {
    position: absolute;
    top: -7.8rem;
    right: 4rem;
  }
  .btn-login {
    padding: 1.3rem 3rem;
    background: none;
    border-color: #ffffff;
    color: #d7bd73;
  }
  .btn-login:hover {
    background: #273956;
  }
  .top-bar__social p {
    display: none;
  }
  .top-bar .row:last-of-type {
    position: absolute;
    bottom: -5rem;
    left: 0;
    right: 0;
  }
  .top-bar__social--list a {
    background-color: #273956;
  }
}
@media only screen and (max-width: 767.98px) {
  .container {
    width: 95%;
  }
  .popular-courses .row:last-of-type .col {
    margin-bottom: 4rem;
  }
  .top-bar .row:last-of-type {
    position: relative;
    bottom: 0;
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .top-bar .row:last-of-type .col:not(:first-of-type) {
    display: none;
  }
  .top-bar .row:last-of-type .col:not(:first-of-type).responsive {
    display: block;
    width: 100%;
  }
  .top-bar .row:last-of-type .col:last-of-type {
    top: 0;
    position: relative;
  }
  .top-bar__menu--list {
    flex-direction: column;
  }

  .icon-nav {
    display: block;
  }
  .top-bar .row:first-of-type {
    display: none;
  }
  .top-bar .row:last-of-type .col:first-of-type {
    width: 100%;
    text-align: center;
  }
  .nut {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 2rem;
    width: 4.5rem;
    height: 3.4rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: transparent;

    color: #888;
    font-size: 1.8rem;
    font-weight: bold;

    outline: none;
    cursor: pointer;
  }
  .slider .container {
    bottom: 38%;
  }
  .nut:hover {
    background-color: #ddd;
  }

  .top-bar__menu--list li {
    margin-right: 0;
    margin-top: 2rem;
  }
  .top-bar .row:last-of-type .col:last-of-type {
    top: 0;
    left: 0;
    text-align: center;
  }
  .btn-login {
    margin-top: 2rem;
    width: 80%;
    margin-bottom: 1.5rem;
  }

  .activities {
    bottom: -25%;
  }
  .activities .row {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .activities__content p {
    font-size: 1.2rem;
  }
  .activities__content img {
    width: 3rem;
    height: 3rem;
  }
  .activities .col {
    border-bottom-width: 3px;
  }
  .activities .col::after {
    width: 2.6rem;
    height: 1.3rem;
    bottom: -1.3rem;
  }
  .slider h1 {
    font-size: 2.6rem;
    width: 45rem;
    line-height: 3rem;
  }
  .meet-friends {
    padding-top: 14rem;
  }
  .meet-friends__heading h2 {
    font-size: 2.6rem;
  }
  .meet-friends__heading > p {
    font-size: 1.4rem;
    margin-top: 1.2rem;
  }
  .best-coaching__form {
    top: 0;
    left: 0;
    width: 90%;
    right: 0;
  }
  .best-coaching__text h4 {
    font-size: 1.4rem;
  }
  .recent-courses {
    padding-top: 20rem;
  }
  .btn-menu {
    font-size: 1.2rem;
  }
  .recent-courses__heading h2 {
    font-size: 3rem;
  }
  .recent-courses__menu--filter button:first-of-type,
  .recent-courses__menu--filter button:nth-of-type(4) {
    width: 12rem;
  }
  .recent-courses__menu--filter button:not(:last-of-type) {
    margin-right: 2px;
  }
  .recent-courses__menu--filter button:nth-of-type(3) {
    width: 8rem;
  }
  .recent-courses__menu--filter button:nth-of-type(2) {
    width: 6.5rem;
  }
  .recent-courses__menu--filter button:last-of-type {
    width: 7rem;
  }
  .recent-courses__menu--filter button {
    height: 3.5rem;
  }
  .btn-view-all {
    font-size: 1.2rem;
    padding: 1.6rem 4rem;
  }
  .subscribe__content p {
    text-align: center;
  }
  .subscribe-testimonials .row {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .subscribe-testimonials .col {
    width: 80%;
  }
  .video .container img:last-of-type {
    top: 15%;
    width: 8rem;
  }
  .video h3 {
    font-size: 2.6rem;
  }
  .recent-news__heading h2,
  .popular-courses__heading h2 {
    font-size: 3rem;
  }
  .best-opportunity__introduction {
    padding-right: 2rem;
  }
  .best-opportunity__introduction h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .fun-facts__content h4 {
    font-size: 2.6rem;
  }
  .fun-facts .col:first-of-type .fun-facts__content {
    margin-right: 2rem;
    padding-left: 0;
  }

  .best-opportunity > img {
    height: 33rem;
  }
  .best-opportunity .row {
    flex-direction: column;
    align-items: center;
  }
  .best-opportunity .col {
    width: 82%;
  }
  .best-opportunity .col:last-of-type {
    margin-top: 2rem;
  }
  .best-opportunity__list {
    padding-left: 0;
  }

  .app-footer .container:nth-of-type(2) .row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .app-footer .container:nth-of-type(2) img {
    width: 8rem;
  }
  .app-footer .container:nth-of-type(2) img:not(:last-of-type) {
    margin-right: 5px;
  }
  .app-footer > img {
    height: 50rem;
  }
  .app-footer .container:first-of-type .col {
    width: calc(50% - 2rem);
  }
  .app-footer .container:first-of-type .col:last-of-type {
    margin-top: 3rem;
  }
  .app-footer .container-fluid {
    height: 16%;
  }
  .app-footer .container:nth-of-type(2) {
    bottom: 10%;
  }
}
@media only screen and (max-width: 575.98px) {
  .container {
    width: 93%;
  }
  .recent-news__heading h2,
  .popular-courses__heading h2 {
    font-size: 2.6rem;
  }
  .recent-news__heading p,
  .popular-courses__heading p {
    font-size: 1.2rem;
  }
  .popular-courses .row:last-of-type .col {
    width: calc(100% - 2rem);
  }
  .app-footer > img {
    height: 70rem;
  }
  .app-footer .container:first-of-type .col {
    width: calc(100% - 2rem);
  }
  .app-footer .container:first-of-type .col:nth-of-type(2) {
    margin-top: 3rem;
  }
  .app-footer .container:nth-of-type(2) img {
    margin-bottom: 5px;
  }
  .app-footer .container:nth-of-type(2) img:not(:last-of-type) {
    margin-right: 0;
  }
  .app-footer .container:nth-of-type(2) .row {
    margin: 0 -3px;
    justify-content: flex-start;
  }
  .app-footer .container:nth-of-type(2) .row img {
    margin: 3px 3px;
    width: calc(8rem - 6px);
  }
  .app-footer .container:nth-of-type(2) {
    bottom: 8%;
  }
  .app-footer .container-fluid {
    height: 10%;
  }
  .app-footer .container-fluid p {
    font-size: 1.4rem;
    margin-top: 4rem;
  }
  .recent-news .row:nth-of-type(2) .col {
    width: calc(100% - 2rem);
  }
  .video .container img:last-of-type {
    width: 5rem;
    top: 13%;
  }
  .video h3 {
    font-size: 1.8rem;
    width: auto;
    line-height: 2rem;
    top: 50%;
  }
  .best-opportunity > img {
    height: 40rem;
  }
  .best-opportunity .col {
    width: 100%;
  }
  .fun-facts .row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .fun-facts .col {
    width: 50%;
  }
  .fun-facts .col:first-of-type,
  .fun-facts .col:nth-of-type(2) {
    margin-bottom: 2rem;
  }
  .fun-facts img {
    height: 17rem;
  }
  .video .container img:first-of-type {
    height: 17rem;
  }
  .fun-facts__content {
    padding-left: 0;
  }
  .fun-facts .col:not(:last-of-type) {
    border-right: none;
  }
  .fun-facts .col .fun-facts__content {
    margin-right: 0;
    text-align: center;
  }
  .fun-facts .col:first-of-type .fun-facts__content {
    margin-right: 0;
  }
  .subscribe-testimonials .row {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .subscribe-testimonials .col {
    width: 100%;
  }
  .subscribe-testimonials .col:first-of-type {
    flex-direction: column;
    align-items: center;
  }
  .subscribe__img {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .btn-prev {
    top: 10%;
  }
  .btn-next {
    bottom: 8%;
  }

  .testimonials__slider img:not(:last-of-type) {
    width: 9rem;
    height: 9rem;
  }
  .recent-courses__heading h2 {
    font-size: 2.6rem;
  }
  .recent-courses__heading p {
    font-size: 1.2rem;
  }
  .meet-friends__heading > p {
    font-size: 1.2rem;
  }
  .recent-courses .row:nth-of-type(2) .col {
    width: calc(100% - 2rem);
  }
  .meet-friends__text p {
    width: auto;
  }
  .meet-friends__img {
    margin-left: 1rem;
  }
  .meet-friends__text{
    width: 73%;
  }
  .best-coaching > img{
    height: 30rem;
  }
  .best-coaching .row{
    flex-direction: column;
  }
  .best-coaching .col{
    width: 100%;
  }
  .best-coaching .container{
    top: 25%;
  }
  .best-coaching__text h4{
    font-size: 1.3rem;
  }
  .best-coaching__text h2{
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-top: 1rem;
  }
  .best-coaching__form{
    top: 3rem;
  }
  .subscribe-testimonials .row{
    padding-top: 22rem;
  }
  .slider h1{
    font-size: 1.8rem;
    width: auto;
  }
  .slider .container{
    bottom: 45%;
  }
  .slider__container > img{
    height: 25rem;
    object-fit: cover;
  }
  .btn-more, .btn-start{
    font-size: 1rem;
    border-width: 1px;
    padding: 1.1rem 2.2rem;
  }

  .activities{
    bottom: -85%;
  }
  .activities .row{
    flex-wrap: wrap;
    justify-content: center;
  }
  .activities .col{
    width: 33%;
  }
  .activities .col:hover{
    transform: translate(0, 1rem);
  }
  .activities .col:nth-of-type(4),   .activities .col:nth-of-type(5){
    margin-top: 3rem;
  }
  .meet-friends{
    padding-top: 26rem;
  }
  .subscribe-testimonials .row{
    padding-top: 10rem;
  }
  .recent-courses__menu--filter{
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn-menu{
    margin-bottom: 1rem;
  }
  .btn-login{
    padding: 1.1rem 2.3rem;
  }
}
